@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  text-align: center;
  padding: 0 25px;
  font-family: arial, sans-serif;

}

.sector {
  margin: auto;
  padding: 20px 20px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.messages-list {
  width: 600px;
  height: 300px;
  border: solid #ddd;
  border-width: 1 3px 3px 3px;
  overflow-y: scroll;
  max-width: 600px;
  max-height: 300px;

}

.message {
  width: 500px;
  margin: auto;  
  padding: 5px;
  text-align: left;
  margin-top: 10px;  
  margin-bottom: 5px;
  background-color: #eee;
  padding: 5px 6px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;  

}

.message:hover {
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.25);
}

.message .username {
  font-weight: 800;

}

.message .time-stamp {
  text-align: right;
  font-size: 10px;
}

.message .text {


}

.game-list {
  padding: 5px;
  margin-bottom: 5px;

}

.game {
  padding: 5px;
  margin-bottom: 5px;

}

.game:hover {


}

.input-output {


}

.input-messages {
  display:flex;
  justify-content:center;
  align-items:center;

}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  border: solid #ccc;

}

.output-message {
  width: 500px;
  margin: auto;
  text-align: left;
  background: white;
  margin-top: 40px;
  padding: 50px 60px;
  border: solid #ddd;
  border-width: 1 1px 1px 1px;

}